label{
	text-transform: uppercase;
	display: block;
}

textarea{
	resize: none;
}

input, textarea{
	width: 100%;
	background: #EEE;
	border-radius: 15px;
	padding: 10px 0 10px 5px;
	margin-bottom: 20px;
	display: block;
	border: 0px solid;
}